<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>04_Servlet_FormSubmissionWithDatabase_App</display-name>
  <welcome-file-list>
    <welcome-file>signup.html</welcome-file>
    <welcome-file>registration.html</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ApplicationName</param-name>
    <param-value>AshokIT Enquiry Application</param-value>
  </context-param>
  <context-param>
    <param-name>Address</param-name>
    <param-value>Hyderabad,Ameerpet</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.ashokit.SignupServlet</servlet-class>
    <init-param>
      <param-name>JdbcDriverClass</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>JdbcUrl</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>manager</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signupRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.ashokit.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.ashokit.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEnquiriesServlet</display-name>
    <servlet-name>DisplayEnquiriesServlet</servlet-name>
    <servlet-class>com.ashokit.DisplayEnquiriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEnquiriesServlet</servlet-name>
    <url-pattern>/displayEnquires</url-pattern>
  </servlet-mapping>
</web-app>